* {
    margin: 0;
    padding: 0;

}

.client-reviews {
    margin: 45px;
    padding: 10x 10px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-gap: 2em;
    background-color: rgb(255, 247, 247);
}

header h3 {
    margin: 15px;
    font-size: 20px;
    text-align: center;
}

header h3 span {
    color: red;
}

.reviews img {
    height: 180px;
    width: 180px;
    border: 2px solid black;
    border-radius: 120px;
}

.reviews p {

    text-overflow: ellipsis;
    font-size: 16px;
    height: 180px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
}

.new-updates h3 {
    border: 2px solid black;
    height: 60px;
    display: flex;
    text-align: center;
}

.new-updates h3 span {
    color: red;
}

.updates img {
    height: 380px;
    width: 400px;
}

.new-updates p span {
    font-size: 14px;
    font-weight: 600;
}

.updates h5 {
    font-size: 15px;
    font-weight: 600;
}

.updates p {
    height: 200px;
    width: 400px;
}

.new-updates {
    margin: 30px;
    padding: 1px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-gap: 2em;
    background-color: white
}

.heading h3 {
    font-size: 20px;
    text-align: center;
}

.heading h3 span {
    color: red;
}

.updates img {

    height: 250px;
    width: 250px;
}

/* footer{
    background-color: rgb(218, 196, 196);
    display: grid;
} */
.logo-image img {
    height: 220px;
    width: 220px;
    left: 0;
}
.logo-image img:hover{
transform: scale(1.1);
}

.icon img {

    padding: 8px;
    height: 25px;
    width:  25px;
}

.info p {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.contact {
    background-color: rgb(243, 206, 206);
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
}
.second-info{
    font-size: 17px;
     margin-top: 14rem;
}
.second-info p:hover{
    color: rgb(28, 180, 81)
}
.third-info { 

    font-size: 17px;
     margin-top: 14rem;
}
.third-info p:hover{
    color: rgb(28, 180, 81)
}
.fourth-info{

    font-size: 17px;
     margin-top: 14rem;
}
.fourth-info p:hover{
    color: rgb(28, 180, 81);
}
.fifth{
    
    font-size: 17px;
     margin-top: 14rem;
}
.end-text p{
    font-size: 17px;
    background-color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive Section */
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}